.App {
  text-align: center;
}

.page {
  border: 4mm ridge rgba(222, 192, 235, 0.6);
  margin: 10vh 38vw;
  padding: 5vh 0;

}

.closable-input{
  margin: 2vh ;
  padding: 1vh;
  font-weight: bold;
}

.close-button {
  border: solid;
  border-radius: 50%;
  color: red;
  margin: 0 1vh;
  font-weight: bold;
  font-size: large;
}
